@use '@angular/material' as mat;
@import "material-colors/dist/colors.var.css";
@import "@angular/material/theming";
@include mat.core();

$app-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$grey-palette, 800, 600),
            accent: mat.define-palette(mat.$red-palette, 800, 700),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);
@include mat.all-component-themes($app-theme);

:root {
    --primary: var(--md-grey-800);
    --primary-highlight: var(--md-grey-900);
    --primary-contrast: var(--md-white);
    --primary-50: var(--md-grey-50);
    --primary-100: var(--md-grey-100);
    --primary-200: var(--md-grey-200);
    --primary-300: var(--md-grey-300);
    --primary-400: var(--md-grey-400);
    --primary-500: var(--md-grey-500);
    --primary-600: var(--md-grey-600);
    --primary-700: var(--md-grey-700);
    --primary-800: var(--md-grey-800);
    --primary-900: var(--md-grey-900);
    --primary-a100:var(--md-grey-a100);
    --primary-a200:var(--md-grey-a200);
    --primary-a400:var(--md-grey-a400);
    --primary-a700:var(--md-grey-a700);
    --accent: var(--md-red-800);
    --accent-highlight: var(--md-red-900);
    --accent-contrast: var(--md-white);
    --accent-50: var(--md-red-50);
    --accent-100: var(--md-red-100);
    --accent-200: var(--md-red-200);
    --accent-300: var(--md-red-300);
    --accent-400: var(--md-red-400);
    --accent-500: var(--md-red-500);
    --accent-600: var(--md-red-600);
    --accent-700: var(--md-red-700);
    --accent-800: var(--md-red-800);
    --accent-900: var(--md-red-900);
    --accent-a100:var(--md-red-a100);
    --accent-a200:var(--md-red-a200);
    --accent-a400:var(--md-red-a400);
    --accent-a700:var(--md-red-a700);
    --warn: var(--md-red-800);
    --warn-highlight: var(--md-red-900);
    --warn-50: var(--md-red-50);
    --warn-100: var(--md-red-100);
    --warn-200: var(--md-red-200);
    --warn-300: var(--md-red-300);
    --warn-400: var(--md-red-400);
    --warn-500: var(--md-red-500);
    --warn-600: var(--md-red-600);
    --warn-700: var(--md-red-700);
    --warn-800: var(--md-red-800);
    --warn-900: var(--md-red-900);
    --warn-a100:var(--md-red-a100);
    --warn-a200:var(--md-red-a200);
    --warn-a400:var(--md-red-a400);
    --warn-a700:var(--md-red-a700);
    --default: var(--md-grey-800);
}
